@model IEnumerable<UPCChallenge.Models.Solicitud>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FechaSolicitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodRegistrante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Carrera)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Periodo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alumno.Nombres)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FechaSolicitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodRegistrante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Carrera)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Periodo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alumno.Nombres)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdSolicitud }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdSolicitud }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdSolicitud })
        </td>
    </tr>
}

</table>
